
.characters-container {
    width: 100%;
    height: 100vh;
    max-height: 720px;
    display: flex;
    position: relative;
}

.characters-box {
    top: 10%;
    width: 100%;
    height: 80%;
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.characters-box::-webkit-scrollbar {
    display: none;
}

.characters-close {
    position: absolute;
    top: 20px;
    right: 20px;
}