.earn-container {
    width: 100%;
    height: 100%;
}

.earn-box {
    display: block;
    padding: 60px 40px;
}

.earn-header {
    margin: 10px 0 40px;
}

.earn-container .earn-tasks {
    margin-top: 20px;
    padding: 10px 0;
    max-height: 360px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.earn-tasks::-webkit-scrollbar {
    display: none;
}

.task-item {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 14px 6px;
    font-size: 16px;
    margin-bottom: 8px;
}
.task-item:hover {
    cursor: pointer;
}

.task-item .task-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}