#root {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}

#window {
    width: 412px;
    max-width: 100%;
    height: 660px;
    max-height: 660px;
    background: #7AE7E1;
    overflow: hidden;
    border-radius: 8px;
    display: block;
    margin: auto;
}
