#root {
  min-width: 100vw;
  min-height: 100vh;
}

#window {
  width: 400px;
  height: 650px;
  background: #7AE7E1;
  overflow: hidden;
  border-radius: 8px;
  display: block;
  margin: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
